*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* area container */
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
/* UTILITIS!!!!!!!!!!!!!!! */
.container-flex{
    display: flex;
}
.active{
    display: none;  
}
/* contenitore di sinistra */
.container-right{
    justify-content: space-around;
    display: flex;

}
.container-left p{
    margin: 10px 10px;
    
}
span{
    margin: 10px 10px;

}
.box-list ul li{
    list-style:none;
}
.box-list{
    border: 1px solid silver;
    border-radius: 10px;
    height: 300px;
    width: 100px;
}
p,ul{
    color: silver;
    cursor: pointer;
    margin: 0 35px;
}
